<!DOCTYPE html>
<html ng-app="contacts">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Agenda de contatos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<style>
		.jumbotron {
			width: 400px;
			margin: 20px auto 0;
			padding: 20px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div class="jumbotron" ng-controller="ListCtrl">
		<h2>Contatos</h2>
		<input type="search" placeholder="Pesquisar" class="form-control" ng-model="search">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th><a href="" ng-click="order('name')">Nome</a></th>
					<th><a href="" ng-click="order('phone')">Telefone</a></th>
					<th><a href="" ng-click="order('provider')">Operadora</a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="{warning: contact.selected}" ng-repeat="contact in contactList | filter:search">
					<td><input type="checkbox" name="" value="" ng-model="contact.selected"></td>
					<td>{{contact.name}}</td>
					<td>{{contact.phone}}</td>
					<td>{{contact.provider.name}}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<div class="form-group">
				<label for="">Nome</label>
				<input type="text" class="form-control" ng-model="contact.name">
			</div>
			<div class="form-group">
				<label for="">Telefone</label>
				<input type="text" class="form-control" ng-model="contact.phone">
			</div>
			<div class="form-group">
				<select name="" class="form-control" ng-model="contact.provider" ng-options="provider.name for provider in providers">
					<option value="">Selecione uma operadora</option>
				</select>
			</div>
		</div>
		<button type="" class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="!contact.name">Adicionar</button>
		<button type="" class="btn btn-danger btn-block" ng-click="deleteContacts(contactList)" ng-show="hasSelectedContact(contactList)">Apagar contatos</button>
	</div>
</body>
</html>